/* Styles for the home component */
.background-img{
    background-image: url('../../assets/images/logo/bg.jpg');
    background-size: cover; /* Cover the entire page */
  background-position: center; /* Center the background image */
  height: 100vh; /* Full height */
  width: 100%; /* Full width */
}